*{
    margin: 0px;
    padding: 0px;
}

.nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(73, 73, 71);
}

.content{
    background-color: rgb(226, 226, 226);
    width: 100vw;
    height: 100vh;
}

.formPesquisaCep input{
width: 35vw;
}